* {
  margin: 0;
  padding: 0;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  /* padding: 0.5rem; */
}

@media only screen and (min-width: 480px) {
  main {
    max-width: 150rem;
    margin: 0 auto;
  }

  html h1 {
    font-size: 3.5rem;
  }
  html h2 {
    font-size: 2.5rem;
  }
  html p {
    font-size: 2rem;
  }
}

body {
  font-family: "Calibri", sans-serif;
  color: #00231c;
  background-color: #fbfaf8;
  font-weight: 300;
  line-height: 1.6;
}
